{% extends  'base.html.twig' %}

{% block title %}{{ parent() }} : form{% endblock %}

{% block titre_principal %}Vue "film_editbis" : exercices formulaires{% endblock %}

{% block vue %}
    <p><a href="/magasin/listProd">Retour à la liste des livres</a> </p>
    <h2>Édition d'un film</h2>
    {{form(myform)}}
    <h2>dump</h2>
    {{ dump(myform) }}
{% endblock %}